/* Navbar.css */
.navbar {
  background-color: #343a40;
  padding: 1rem;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #f8f9fa;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 1rem;
}

.navbar-link {
  text-decoration: none;
  color: #f8f9fa;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-button {
  background: none;
  border: none;
  color: #f8f9fa;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-button:hover {
  text-decoration: underline;
  color: #adb5bd;
}
